.cluster-card {
    border: 1px solid rgba(0,0,0,0.14);
    border-radius: 8px;
    display: flex;
    box-sizing: border-box;
    padding: 24px;
    flex: 1 0 25%;
    max-width: 25%;
    transition: 200ms ease;

    &.slim {
        flex: 1 0 25%;
        max-width: 25%;
        .cluster-info {
            flex: 1 1 100%;
        }
    }

    &.wide {
        flex: 1 0 100%;
        max-width: 100%;
        .cluster-info {
            flex: 0 0 33%;
        }
    }

    .cluster-info {
        display: flex;
        flex-direction: column;

        .card-header {
            font-size: 24px;
            margin-bottom: 16px;
        }
    
        .section-header {
            color: rgba(0,0,0,0.54);
            font-size: 12px;
            margin-bottom: 4px;
            white-space: nowrap;
        }
    
        .section-detail {
            font-size: 16px;
            white-space: nowrap;
    
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    
        .cluster-actions {
    
            button {
                background: rgba(0,0,0,0.14);
                padding: 8px 12px;
                outline: none;
                border: none;
            }
        }
    }
}