.provisioning-wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 20px;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        align-items: center;

        span {
            white-space: nowrap;
        }
    }

    .step {
        display: flex;
        align-items: center;
        box-sizing: border-box;

        span {
            margin-right: 8px;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}