.load-test-wrapper {
    flex: 1 1 100%;
    display: flex;

    .test-options {
        flex: 1 1 100%;

        .test-option {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            .header {
                color: rgba(0,0,0,0.54);
                font-size: 12px;
                margin-bottom: 4px;
                white-space: nowrap;
            }

            .node-counter {
                display: flex;
                align-items: center;

                .node-action {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    border: 1px solid rgba(0,0,0,0.14);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &.left { margin-right: 4px; }
                    &.right { margin-left: 4px; }
                }
            }
        }
    }
    .test-display {
        flex: 1 1 100%;
    }
}