.list-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    flex-wrap: wrap;

    .zero-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-top: 24px;

        span {
            margin-bottom: 16px;
        }
    }
}