.view-clusters {
    width: 100%;

    .create-btn {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.14);
        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        bottom: 24px;
        right: 24px;

        span {
            font-size: 24px;
            line-height: 1.0;
        }
    }
}