.actions-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
        border: none;
        outline: none;
        background-color: rgba(0,0,0,0.14);
        padding: 8px 16px;
        color: #000;
    }
}