.create-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.create-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px;
    border: 1px solid rgba(0,0,0,0.14);
    border-radius: 8px;

    .create-content {
        flex: 1 1 100%;
        box-sizing: border-box;
        padding-left: 12px;
    }

    .create-header {
        font-size: 24px;
        margin-bottom: 24px;
    }
}
