.dataset-selection {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 24px;

    .selection-header {
        font-size: 16px;
        margin-bottom: 20px;
    }

    select {
        outline: none;
        border: none;
        width: 300px;
        height: 48px;
    }
}