.tier-selection {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 24px;

    .selection-header {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .selection-sub-header {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .option {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        input {
            margin-right: 8px;
        }

        .label {
            text-transform: capitalize;
            font-size: 12px;
        }
    }
}